.landing-container {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    margin: 0 auto;
   

   
  }

  #products{
    border:1px solid rgb(183, 179, 179);
    border-radius: 5px;;
  }
  #products:hover{
    z-index: 5px;
    box-shadow: 5px 5px 5px lightgray;
  }

  .price{
    border:2px solid red;
    width: fit-content;
    padding: 20px;;
  }
  
  

