.session-container{
  text-align: center;
}


.magical-container{
background-color: #c8e2d6;
color:#258625;
text-align: center;
}
.underth{
  font-size:50px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;
  padding-top: 20px;

}
.magic{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: xx-large;
}
.part{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  padding-bottom: 100px;
}

/* circle images */
.circle-images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width:50%;
  margin: 0 auto;
  position: relative;
  bottom: 50px;
  width: fit-content;
  gap:50px;
}
.circle-images img:hover{
  z-index: 5px;


}

.circle-images img{
  border-radius: 75px;
}
/* Landing */
.landing-header{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
  font-size: x-large;
  margin-top: 0px;

}
.landing-container {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:15px;
  margin: 0 auto;
  width: 80%;
  padding-left: 80px;
  margin-bottom: 20px;
  
}


#products {
  border: 1px solid rgb(183, 179, 179);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  
}

#products:hover {
  z-index: 5px;
  box-shadow: 5px 5px 5px lightgray;
}

.price {
  border: 1px solid black;
  width: 70px;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.rounded-images-container{
  border:4px solid blue;
}

.square-images-container{
  border:4px solid orange;
}
  
  

