
.search-entire-frame{
    /* border:4px solid green */
    margin-top: 70px;
}
.search-container-frame{
    /* border:3px solid blue; */
    display: flex;
    flex-direction: row;
    gap:15px;
    margin-top: 70px;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    margin:0 auto;
    width: 75%;
    padding-left: 100px;
}


.search-products-container{
    /* border:4px solid green; */
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    gap:10px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px lightgray,  
    -4px 4px 4px lightgray,  
    4px -4px 4px lightgray,  
    -4px -4px 4px lightgray; 
    cursor: pointer;
    height:250px;
    width: 200px;margin-top: 40px;

}

.search-products-container:hover{
    box-shadow: 4px 4px 4px rgb(5, 151, 255),  
    -4px 4px 4px rgb(5, 151, 255),  
    4px -4px 4px rgb(5, 151, 255),  
    -4px -4px 4px rgb(5, 151, 255);
}

.search-title{
    font-family:  Helvetica, sans-serif;
    width: 80%;
    font-weight: 400;
    font-size: xx-small;
    /* border:2px solid purple; */
}

.no-result{
    margin-top: 30px;
      font-family:  Helvetica, sans-serif;
      font-size: larger;
}

.top-image-search{
/* border:3px solid orange; */
width: 95%;
height: 30%;
margin: 0 auto;

}

.image-search-interval{
   /* border:3px solid red;  */
   width:100%;
   height: 250px;
  
}

