.create-listing-container{
    /* border:2px solid red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap:20px;

    
}

.listing-header{
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 400;
    color: rgb(54, 52, 52);
    font-size:xx-large;
    margin-bottom: 0px;
}

.second-header{
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 400;
    color: rgb(54, 52, 52);
    margin-top: 4px;
 
}

/* photo container  */
.photo-container{
    border:1px solid rgba(180, 179, 179, 0.9);
    border-radius: 3px;
    padding:10px;

   

}
.photo-image-container{
    /* border:2px solid purple; */
    display: flex;
    flex-direction: row;
    gap:100px;

    
}
.photo-header{
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 400;  
    font-size: x-large;
}
.p-header{
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 400;
    color  : rgb(124, 124, 124);
}
.photo-header4{
    margin: 0px;;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 600; 
  
}
.list-elements{
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 400;
    color  : rgb(124, 124, 124);
}

.photo-words{

    width:20%
 
}

/*Photo image edit input file */
.photo-images1{
    display: flex!important;
    flex-direction: row;
    gap: 70px;
    /* border:1px solid red; */
    flex-wrap: wrap;
  
}




.photo-images {
    position: relative;
    display: inline-block; 
}


.custom-file-input-label {
    /* border:2px solid salmon!important; */
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    gap:35px;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
    width:100px;
    height: 100px;
    border:1px solid rgba(180, 179, 179, 0.9)
} 


.fa-camera{
    font-size: 30px;
} 

.image-create-container1{
    /* border:3px solid green; */
    width: fit-content;
    position:relative;
}

.input-image1 {
    /* position: absolute; */
    /* border:2px solid orangered!important; */
    /* top: 0;
  
     width: 100%;
    height: 100%; 
    opacity: 0;
    /* display: none; */
   
    /* top:20px; */
    left: 0;
    top: 0;

    width: 100%;
    height: 100%; 
    opacity: 0;
    cursor: pointer;
    position: absolute;
}


/* Lisiting information */
.listing-details-container{
  border:1px solid rgba(180, 179, 179, 0.9) ; 
  border-radius: 3px;
  padding: 10px;
}
.input-fields{
    display: flex;
    flex-direction: column;

}

.title{
    display: flex;
    flex-direction: row;
    /* border:2px solid green; */
    align-items: center;
    padding: 10px;
    gap:40px;
 
}
.title-words,.handmade-words,.vintage-words,.made-to-order-words,.desc-word{
    /* border:2px solid purple; */
    width:25%
}
.han
.title-header,.vintage-header,.made-to-order,.desc-header{
    font-size:medium;
    font-weight: 400;
    margin:2px;
}
.title-input,.desc-input{
    border:1px solid rgba(180, 179, 179, 0.9);
    border-radius: 3px;
    width: 80%;
    height: 40px;

}


.p-header-listing{
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 400;
    color  : rgb(124, 124, 124);
    font-size:small;

}

/* radio input  handmade*/

.handmade,.vintage,.made-to-order{
    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    padding: 10px;
 
    gap:40px;
    
}
.handmade-words,.vintage-words,.made-to-order-words{
    width: 25%;
    /* border:2px solid purple; */
}
.radio-container{
width: 80%;
/* border:2px solid red; */
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}

.creator-container,.material-container,.descr-container{
    /* border:2px solid green; */
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap:40px;
  
    align-items: center;
    /* border:2px solid gold; */
}

.creator-word,.material-word{
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: 400; 
    width: 25%;
   
    /* border:2px solid green; */
}

.creator-input,.material-input{
    height:40px;
    width:30%;
    border-radius: 5px;
    border:1px solid rgba(180, 179, 179, 0.9);
    
}
.desc-input{
    height:250px;
  
}


.price-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap:40px;
    /* border:7px solid red; */
    align-items: center;


}
.price-word{
    width: 23%;
}
.price-input{
    border:none;
    outline: none;

 
   /* width:87% */
}


.price-label{
    display: flex;
    align-items: center;
    gap:5px;
    border:1px solid rgba(180, 179, 179, 0.9);
    height:40px;
    width:fit-content;
    border-radius: 5px;
    border:1px solid rgba(180, 179, 179, 0.9);
    /* border:1px solid rgba(180, 179, 179, 0.9);
    border-radius: 3px;
    width: 80%;
    height: 40px; */
}





.create-product-button-1-container{
    text-align: right;
}
.create-product-button-1{
    background-color: black;
    color:white;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    height:50px;
    width:170px;
    border-radius: 10px;
    border:none;
    font-size: large;

}

.errors{
    color:red;
    text-decoration: none;
}





