

.hidden {
  display: none;
}

.nav-container{
  /* border:3px solid green; */
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  height: 70px;
  gap:10px;
  align-items: center;
  padding: 10px;
 

}
/* home */
.home-link{
color:rgb(255, 102, 0);
text-decoration: none;
font-size: xx-large;

}

/* Search Label */
.search-label{
border:2px solid black;
border-radius: 20px;
height: fit-content;
width:75%;
padding: 5px;



}
.fa-magnifying-glass{
font-size: 25px;
margin-left: 5px;
}

.search-input{
  /* border:2px solid pink; */
  width:90% ;
  outline: none;
  border:none;
  height:30px;
  font-size: large;

  

}

/* user */
.user-button{
  background-color: rgb(211, 211, 211);
  height:35px;
  width: 35px;
  border:none;
  border-radius: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
 
}
.fa-user{
  margin-right: 3px;
  color: rgb(58, 56, 56);
  font-size: small;
}
.profile-dropdown{
  list-style: none;
  cursor: pointer;
  background-color: white;
  border:1px solid rgb(237, 237, 237,0.4);
  z-index: 4;
  position: absolute;
  height:fit-content;
  width:fit-content;
  border-radius: 10px;
  padding: 0px;
 

}
/* style={{position:'absolute',right:"150px"}} */
.list-item{

  margin-bottom: 10px;
}
.div-list{
  /* padding: 15px; */
  border-bottom: 1px solid lightgrey;
  padding-left: 40px;
  padding-Right: 40px;
  margin-bottom: 15px;
  font-family:  Helvetica, sans-serif;
  font-size: medium;
  font-weight: 400;
  color:rgb(85, 83, 83);
  cursor: pointer;
}
.div-list1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  gap:5px;
  border-bottom: 1px solid lightgrey;
  padding-left: 40px;
  padding-Right: 40px;
  margin-bottom: 20px;
  margin-top: 15px;
  font-family:  Helvetica, sans-serif;
  font-size: large;
  font-weight: 400;
  cursor: pointer;
 


  /* padding: 10px; */
}
.logoutButton{
  background:white ;
  border:none;
  font-family:  Helvetica, sans-serif;
  font-size: medium;
  color:rgb(85, 83, 83);

}

.div-list:hover,.div-list1:hover{
background-color: lightgray;
}

.logoutButton:hover{
  background-color: lightgray;
  cursor: pointer;
}

