
.main-slide{
width:70%;
border:5px solid green;
display: flex;
flex-direction: row;
height:fit-content;

padding: 20px;
}
/* main image */
.main-slide .main-image {
    flex: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:3px solid limegreen; */
    width:600px;
    height:400px;
  }
  
  .main-slide .main-image img {
    width: 100%; /* Make the main image fill its container */
    height: 80%; /* Make the main image fill its container */
  }
  
  .main-slide div {
    /* Styles for other carousel items if needed */
    /* border:3px solid red; */
     height: fit-content;
    /* width:fit-content  */
  }

  /* main image */
  


  .main-slide .carousel .thumbs {
    width: 30px;
    height: 190px; 
    display: flex; 
    flex-direction: column; 
    /* border:4px solid orange; */
    padding-left: 0px;;
  }




/* .carousel .thumbs{
    width: 50px; 
    height: 50px; 
  } */


.images-container{
    display: flex;
    flex-direction: row;
    /* border:1px solid green; */

}
.big-image{
/* border:2px solid red; */
}

.sideImages{
    /* border:3px solid purple; */
}






/* reviews */

.header-reviews{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
    margin-bottom: 50px;
}

.header-stars1{
    font-size: xx-large;
    font-family: Helvetica, sans-serif Arial, sans-serif;

}
.leave-review-button{
    color:white;
    font-family: Helvetica, sans-serif Arial, sans-serif;
    border:none;
    background-color: black;
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 20px;
}


.review-container-location{
    display: flex;
    flex-direction: column;
    /* border:2px solid green; */
}
.review-container1{
    /* border:2px solid orange; */
    display: flex;
    flex-direction: column;
    /* gap:7px; */
    border-bottom: 1px solid rgb(208, 208, 208,0.9);
    margin-bottom: 10px;
    padding: 15px;
    /* border:3px solid green; */

}
.star-container1{
    /* border:2px solid blue; */
}

.desc-container{
    padding-bottom: 5px;
    font-family: Helvetica, sans-serif Arial, sans-serif;
    font-weight: 400;
    font-size: medium;
}

.reviewer-date{
    margin-bottom: 10px;
    /* border:3px solid plum; */


}
.para-date{
color:rgb(103, 98, 98);

/* border:2px solid green; */
}
.purchased-items{
    color:rgb(103, 98, 98);
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
.user-items{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;  
  font-size: small;
 /* border:3px solid green; */
 padding: 10px;
 margin-bottom: 9px;;
}

.deletereviewButton{
    background-color: white;
    border:none;
}

.editReview{
    background-color: white;
    border:none; 
}

.createreview-button{
    background-color: black;
    font-family: Helvetica, sans-serif Arial, sans-serif;
    color: white;
    border: none;
    border-radius: 6px;
    height:30px;

}

/* carousel and card  */

.carouselandcard{
    display: flex;
    flex-direction: row;
}

.payment-container{
    border:3px solid red;
    width:40%;
}