
.extra-stuff{
    height:200px;
    /* background-color: ; */
}

.products-containers{

    border:1px solid green;
    width:80%;
    margin: 0 auto;
}
.header{
    border:3px solid purple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.name-image{
    border:2px solid green;
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: center;
    align-items: center;
}
.create-product{
    background-color: black;
    color:white;
    border:none;
    border-radius:15px;

}

.product-items{
    border:2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
}



