




/* header information */
.header{
    /* border:3px solid purple; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:40px;
    padding:10px;
    margin-bottom: 10px;
    /* padding-bottom:30px; */
   
}
.name-image{
    /* border:2px solid green; */
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;
 
}

.create-product-button{
    background-color: black;
    color:white;
    border:none;
    border-radius:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:25px;
    width:120px;


}
.user-shop{
    color:rgb(78, 77, 77);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    
}


/* header information */

/* dead links  */
.total-container{
    /* border:4px solid orange; */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:20px
}
.dead-links-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid rgb(149, 149, 149);
  
}
/* body of paage PRODUCTS */

.products-containers{

    /* border:5px solid green; */
    width:80%;
    height: 80%;
    margin: 0 auto;
    margin-bottom: 5px;;

  
}
.product-items{
    /* border:2px solid purple; */
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    width: fit-content;
    gap:20px;
    position: relative;
    cursor: pointer;
    height:fit-content;
    padding:10px;
    /* justify-content: center; */
    align-items: center;
    /* margin: 0 auto; */
  
   
   
}
.product-items:hover{
  /* z-index: 3; */
   
}
#product-user{
    /* border:1px solid rgb(145, 145, 145); */
    position: relative;
    border-radius: 10px;;
    /* border:5px solid red; */
    width:200px;
    height:240px;
    /* height: fit-content; */
    box-shadow: 4px 4px 4px lightgray,  
              -4px 4px 4px lightgray,  
              4px -4px 4px lightgray,  
              -4px -4px 4px lightgray; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.user-image-product{
    position: absolute;
    top:13px;
    width:80%;
    height: 49%;
    left:20px;
    margin-bottom: 10px;;
    border-radius: 10px;;
}
.user-title{
    /* border:2px solid green; */
    position: absolute;
    max-width: 70%;
 
    font-size: 12px;
    margin-top: 130px;
    font-family: sans-serif;
    font-weight: lighter;
}




.manage-buttons{
/* background-color: rgb(16, 116, 229); */
display: flex;
flex-direction: row;
gap:20px;
/* bottom:1px; */
padding: 5px;
margin-top:0px;
position: absolute;
bottom: 1px;


}
.delete-product,.edit-product{
background-color: white;
color:black;
border:none;
/* border: 1px solid black; */
border-radius: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.create-product-button-circ{

    display: flex;
    flex-direction: row;

    /* border:3px solid greenyellow; */
    padding: 80px;
    gap:50px;
    margin: 0 auto;

}

.create-header-last{

    color:white;
    background-color: rgb(161, 163, 167);
   
    border-radius:50%;
    font-size: 20px;
    width:200px;
    height: 200px;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.create-product-button1{
    background-color: rgb(20, 76, 167,0.5);
    color:white;
    border:none;
    border-radius:50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:120px;
    width:120px;
}

.create-product-button1:hover{
    height:170px;
    width:170px;
    box-shadow: 4px 4px 4px rgb(157, 153, 153);
}

.extra-just-blah{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(151, 149, 149);
    font-size: 21px;
    font-weight: lighter;

}
/* footer imformation */
